<div class="index col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2 text-center">
<h1>Day Plus One (Day+=1)</h1>
<br /><br />
<div class="flatbox">
<h3>All you need is to succeed one more day.
<br />
Whether you're trying to quit an old habit, or trying to gain a new one.
<br />
No need to let us know what it is, you knowing is enough.
<br />
Give it a try.
<br />
<br />
<%= link_to 'Get Started', new_user_registration_path, :class => 'btn btn-success' %></li>
</h3>
</div>


	
</div>