<div class = "col-xs-10 col-xs-offset-1 text-center">

<br />
<% if @user.check_in.blank? %>
	<h2>You haven't started.
	<br />
	Why don't you start?</h2>
	<%= link_to 'My FIRST day!', user_path(@user), :method => :put, :class => 'btn btn-success' %>
<% elsif @user.on_track? %>
	<h2>Awesome, you checked in on 
	<%= Date.parse(@user.last_date).strftime("%m/%d/%Y") %>
	<br />
	You've got 
	<div class="gradient"><h3><%= @user.check_in %></h3></div><h2>
	 <h2 id="goal">days of a streak!
	<% if @user.on_time? %>
		Good job on being strong!  Tomorrow will be ONE more day!
	<% else %>
		It's a new day <br />
		Why don't you go again?
		<%= link_to 'Keep it going!', user_path(@user), :method => :put, :class => 'btn btn-success' %></h2>
	<% end %>
<% else %>
	You missed you're check-in, don't give up, get back on track!
	<br />
	How about we try again! NEVER QUIT! 
	<br />
<% end %>
</div>