.navbar.navbar-inverse {
	border-radius: 0;
	opacity: 0.8;
}

body {
	background: url('/assets/goal2.jpg');
	
}

h2 {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 100;
	
}

.flatbox {
	background-color: black;
	opacity: 0.7;
	padding: 15px 15px 15px 15px;

}

.flatbox h3 {
	color: white;
	font-weight: 100;
}